body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  min-width: 1200px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #212121;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 50px;
  display: block;
}

.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}
.logo-span {
  color: #2196f3;
}
.logo-studio {
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.contacts {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts-list {
  margin-left: 50px;
}
.contacts-list:first-child {
  margin-left: 0px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 30px;

  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
.contacts-icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.part-one {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.one-text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}

.one-button {
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.part-two {
  padding-bottom: 0;
}
.icon-two {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.two-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.two-item {
  margin-right: 30px;
  width: 270px;
}

.two-item:last-child {
  margin-right: 0px;
}

.two-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.two-content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.three-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.two-text {
  position: relative;
}
.three-item .two-title {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding: 27px;
  text-align: center;
  margin-bottom: 0;
}

.three-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.three-item {
  margin-right: 30px;
}

.three-item:last-child {
  margin-right: 0px;
}

.part-four {
  background-color: #f5f4fa;
}

.four-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.comand-scl {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.scl-list + .scl-list {
  margin-left: 10px;
}
.scl-link {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scl-icon {
  fill: currentColor;
}
.scl-link:hover,
.scl-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.scl-link:hover .scl-icon {
  fill: currentColor;
}

.four-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.four-item {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.four-item:last-child {
  margin-right: 0px;
}
.container-four {
  padding-top: 30px;
  padding-bottom: 30px;
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.title-prof {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.five-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.part-five-list {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.client-link:hover .client-icon {
  fill: currentColor;
}

.client-list + .client-list {
  margin-left: 30px;
}

.subscribe {
  margin-left: 93px;
}
.subscribe-mail {

}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.icon-social {
  margin-left: 70px;
}
.icon-social .two-title, .subscribe .two-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.icon-social .scl-link {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 10%),
    rgba(255, 255, 255, 10%)
  );
}

.icon-social .scl-icon {
  fill: #ffffff;
}
.scl-footer {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-list {
  list-style: none;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-maps {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

.address-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff99;
}

.project-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.gallery-project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-link:hover .text-pfl,
.gallery-link:focus .text-pfl {
  transform: translateY(0);
}

.gallery-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-text {
  position: relative;
  overflow: hidden;
}
.text-pfl {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-name {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.gallery-project:nth-child(3n) {
  margin-right: 0;
}

.gallery-project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.title-project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.title-item {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.button-list {
  list-style: none;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button-item {
  margin-right: 8px;
}
.project-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:last-child {
  margin-right: 0;
}
.project-button:hover,
.project-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: rotate(180deg) scale(1.25);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms;

  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.finish {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finish-icon {
  fill: #000000;
}

.subscribe-btn {
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
}


.subscribe-icon {
  fill: currentColor;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.subscribe-mail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
}
